body {
    background-color: whitesmoke !important;
    background-repeat: repeat;
    height: 100vh;
}

.navbar-item img {
    max-height: 5rem;
}

.nav_logo {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: #4a4a4a;
    display: block;
    line-height: 1.5;
    padding: 0.5rem 2rem;
    position: relative;
    pointer-events: none !important;
}

.img_logo {
    height: 6.5vh;
}

.nav_logo:hover {
    background-color: none !important;
}

.navbar-item:hover {
    background-color: #f34a28 !important;
    /*letter-spacing: 0.1em !important;*/
}

.now_page {
    background-color: #222222;
    border-bottom: 0.3em solid #f34a28;
    padding-bottom: 0;
}

.black_navbar {
    background-color: #222222;
    height: 5vh;
    width: 55vw;
    margin-top: 2vh;
    justify-content: flex-start !important;
}

.box_nav_item {
    font-family: GLACIALINDIFFERENCE-REG;
    color: #fff !important;
}

.box_nav_item_last {
    font-family: GLACIALINDIFFERENCE-REG;
    color: #fff !important;
    margin-right: 36%;
}

.main-color {
    color: #f34a28 !important;
}

.headbar {
    height: 7vh;
    position: absolute;
    width: 50%;
    background: white;
    z-index: 0;
    text-align: center;
    margin-top: 4vh;
}

.title {
    font-size: 20pt !important;
    margin-bottom: 0 !important;
    opacity: 1 !important;
    font-weight: bold;
    margin-right: 10pt;
}

.text-bar {
    padding-left: 1em;
    font-size: 14pt;
    padding-top: calc(3.5vh - 1.5em);
    float: left;
    margin-left: 1em;
}

.text-bar>p {
    display: inline-block;
}

.about_img {
    background: url("../assets/img/about_img.png");
    background-size: cover;
    background-position: right;
    height: 50vh;
    margin: 8rem;
    margin-bottom: 0rem
}

.bar1 {
    background-color: #f34a28;
    width: 100%;
    height: 25px;
    position: absolute;
    margin-left: 37rem;
    margin-top: 1.5em;
}

.bar2 {
    background-color: #f34a28;
    width: 100%;
    height: 25px;
    position: absolute;
    margin-left: 50rem;
    margin-top: 10rem;
}

.bar3 {
    background-color: #f34a28;
    width: 100%;
    height: 25px;
    position: absolute;
    margin-top: 13vh;
}

.about_text {
    text-align: center;
    width: 30%;
    margin-left: 15rem;
    margin-top: 1rem;
    position: absolute;
    padding: 1rem;
    font-size: 15pt;
    font-family: JS-THANAPORN;
    color: #792413;
}

.textinline {
    font-family: LAOSANGAMMN;
    color: #fff;
    padding-left: 19rem;
    font-size: 18pt;
}

.abt_img {
    margin-top: 15vh;
}

.profile1 {
    background: url("../assets/img/profile/tmp_02.jpg");
}

.profile2 {
    background: url("../assets/img/profile/tmp_05.jpg");
}

.profile3 {
    background: url("../assets/img/profile/tmp_04.jpg");
}

.profile4 {
    background: url("../assets/img/profile/tmp_03.jpg");
}

.profile5 {
    background: url("../assets/img/profile/tmp_01.jpg");
}

[class *="profile"] {
    background-size: cover;
    background-position: center;
    height: 50vh;
    /*-webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;*/
}

@import "compass/css3";
.taco {}

.slide {
    text-align: center;
    font: bold 30px/350px sans-serif;
}

.boxtext {
    background: rgba(0,0,0,.75);
    color: white;
    text-align: center;
    margin-top: 38vh;
    display: none;
}

[class*="profile"]:hover .boxtext {
    display: block;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        overflow: hidden !important;
    }
    .text-bar {
        margin-left: 5em;
    }
    .text-bar>p {
        display: none;
    }
    .black_navbar {
        background-color: inherit;
        height: inherit;
        width: inherit;
        margin-top: 2vh;
        justify-content: flex-start !important;
    }
    .box_nav_item {
        color: black !important;
    }
    .now_page {
        background-color: inherit;
        border-bottom: none;
        padding-bottom: 0.5rem;
    }
    .about_text {
        font-size: 14pt;
    }
    [class *="profile"] {
        background-size: cover;
        background-position-y: 0px;
        height: 70vh;
    }
    .profile3 {
        background-position-y: -70px;
    }
    .profile4 {
        background-position-y: -70px;
    }
    #button-previous {
        float: left;
        margin-left: 16.66667%;
        padding-bottom: 1vh;
    }
    #button-next {
        float: right;
        margin-right: 16.66667%;
        padding-bottom: 1vh;
    }
    [id*="button"] {
        background: #f34a28;
        color: white;
        text-align: center;
        width: 13vw;
        height: 4vh;
    }
    .boxtext {
        display: block;
    }
}


/* mobile */

@media (max-width: 767px) {
    body {
        overflow: hidden !important;
    }
    .title {
        font-size: 12pt !important;
    }
    .text-bar>p {
        display: none;
    }
    .black_navbar {
        background-color: inherit;
        height: inherit;
        width: inherit;
        margin-top: 2vh;
        justify-content: flex-start !important;
    }
    .box_nav_item {
        color: black !important;
    }
    .now_page {
        background-color: inherit;
        border-bottom: none;
        padding-bottom: 0.5rem;
    }
    .profile1,
    .profile2,
    .profile5 {
        background-position-y: 0px;
    }
    [id*="button"] {
        background: #f34a28;
        color: white;
        text-align: center;
        width: 13vw;
        height: 4vh;
    }
    div#button-previous {
        float: left;
        margin-left: 16.66667%;
    }
    div#button-next {
        float: right;
        margin-right: 16.66667%;
    }
    .boxtext {
        display: block;
    }
}