body {
    background-color: whitesmoke !important;
    height: 100vh;
}

.navbar-item img {
    max-height: 5rem;
}

.nav_logo {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: #4a4a4a;
    display: block;
    line-height: 1.5;
    padding: 0.5rem 2rem;
    position: relative;
    pointer-events: none !important;
}

.img_logo {
    height: 5rem;
}

.nav_logo:hover {
    background-color: none !important;
}

.navbar-item:hover {
    background-color: #f34a28 !important;
    /*letter-spacing: 0.1em !important;*/
}

.now_page {
    background-color: #222222;
    border-bottom: 10px solid #f34a28;
    padding-bottom: 0;
}

.black_navbar {
    background-color: #222222;
    height: 3rem;
    width: 57vw;
    margin-top: 2%;
}

.box_nav_item {
    font-family: GLACIALINDIFFERENCE-REG;
    color: #fff !important;
}

.box_nav_item_last {
    font-family: GLACIALINDIFFERENCE-REG;
    color: #fff !important;
    margin-right: 36%;
}

.main-color {
    color: #f34a28 !important;
}

.headbar {
    height: 8%;
    position: absolute;
    top: 16%;
    width: 58.33333333%;
    background: white;
    z-index: 0;
    text-align: center;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.title {
    font-size: 1.2rem !important;
    margin-bottom: 0 !important;
    opacity: 1 !important;
    font-weight: bold;
}

.bar1 {
    background-color: #f34a28;
    width: 100%;
    height: 25px;
    position: absolute;
    margin-left: 43rem;
    margin-top: -28.5rem;
}

.bar2 {
    background-color: #f34a28;
    width: 100%;
    height: 25px;
    position: absolute;
    margin-left: 43rem;
    margin-top: -2.5rem;
    z-index: 2;
}

.movebg{
    background-image: url("../assets/img/CONTACT.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    height: 30rem;
}

.footer {
    background: #ffffff;
    width: 100vw !important;
    height: 12% !important;
    margin: 0 !important;
    padding: 1rem 1.5rem 0.5rem !important;
}

a.footer-item {
    /*margin: 1rem;*/
}

.contact_box {
    background: white;
    position: absolute;
    height: 55vh;
    top: 32vh;
    z-index: 1;
}

div.column {
    display: inline-flex !important;
}

input {
    height: 1.7rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    background: #dfe6e6;
}

.main-color {
    color: #f34a28 !important;
}

textarea {
    resize: none;
    margin-top: 0.5rem;
    height: 10rem;
    font-size: 1rem;
    background: #dfe6e6;
}

button.button {
    background: #f34a28;
    color: white;
    width: 6vw;
    margin-top: 0.5rem;
}

.contact-desc {
    background: #dfe6e6;
    width: 25vw;
    margin-left: 5vw;
    padding-top: 5%;
    padding-left: 3%;
}

.title {
    font-size: 1.2rem !important;
    margin-bottom: 0 !important;
    opacity: 1 !important;
    font-weight: bold;
}

.sub-title {
    font-size: 0.95rem !important;
}

.t1 {
    top: 73%;
    z-index: 2;
}

.t2 {
    top: 15%;
    z-index: 1;
}

.headbar {
    height: 8%;
    position: absolute;
    top: 16%;
    width: 58.33333333%;
    background: white;
    z-index: 0;
    text-align: center;
    padding-top: 1.5%;
}

.footertext {
    font-family: GLACIALINDIFFERENCE-REG;
    font-size: 0.75rem;
    color: #f34a28;
}

.footer-item img {
    max-width: 2%;
}