body {
    background-color: whitesmoke !important;
    background-repeat: repeat;
}

.navbar-item img {
    max-height: 5rem;
}

.nav_logo {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: #4a4a4a;
    display: block;
    line-height: 1.5;
    padding: 0.5rem 2rem;
    position: relative;
    pointer-events: none !important;
}

.img_logo {
    height: 6.5vh;
}

.nav_logo:hover {
    background-color: none !important;
}

.navbar-item:hover {
    background-color: #f34a28 !important;
    /*letter-spacing: 0.1em !important;*/
}

.now_page {
    background-color: #222222;
    border-bottom: 0.3em solid #f34a28;
    padding-bottom: 0;
}

.black_navbar {
    background-color: #222222;
    height: 4vh;
    width: 55vw;
    margin-top: 2.5vh;
}

.box_nav_item {
    font-family: GLACIALINDIFFERENCE-REG;
    color: #fff !important;
}

.box_nav_item_last {
    font-family: GLACIALINDIFFERENCE-REG;
    color: #fff !important;
    margin-right: 36%;
}

.main-color {
    color: #f34a28 !important;
}

.headbar {
    height: 7vh;
    position: absolute;
    width: 50%;
    background: white;
    z-index: 0;
    text-align: center;
    margin-top: 4vh;
}

.title {
    font-size: 1.5em !important;
    margin-bottom: 0 !important;
    opacity: 1 !important;
    font-weight: bold;
    margin-right: 10pt;
}

.text-bar {
    padding-left: 1em;
    font-size: 1.2em;
    padding-top: calc(3.5vh - 1.5em);
    float: left;
    margin-left: 5em;
}

.about_img {
    max-width: 80%;
    margin: 8rem;
    margin-top: 6rem;
    margin-bottom: 0rem
}

.bar1 {
    background-color: #f34a28;
    width: 100%;
    height: 25px;
    position: absolute;
    margin-left: 43rem;
    margin-top: 1.5rem;
}

.today_line {
    background-color: none;
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: flex-end;
    color: #f34a28;
    font-size: 16pt;
    font-family: GLACIALINDIFFERENCE-BOLD;
    padding-right: 0 !important;
}

.date_line {
    background-color: #fff;
    width: 100%;
    height: 30px;
    margin-left: 64rem;
    margin-bottom: 1.5rem;
    color: #f34a28;
    font-size: 1rem;
    font-family: GLACIALINDIFFERENCE-BOLD;
    padding-left: 1rem;
    padding-top: 0.25rem;
}

.line {
    background-color: #f34a28;
    height: 3px;
    width: 40%;
    position: relative;
    margin-top: 0.7em;
    margin-right: 0.5rem;
}

.album {
    height: 24rem;
    width: 56rem;
    margin-left: 14rem;
    margin-bottom: 0.65rem;
}

.frist {
    margin-top: 7rem;
}

.innertext {
    font-family: GLACIALINDIFFERENCE-BOLD;
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem;
}

.main-color {
    color: #f34a28 !important;
}