body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

div.column.is-12 {
    height: 100vh;
    background: url("../assets/img/h_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.more_menu {
    color: #FFF;
    font-size: 24pt;
    padding: 3rem;
}

.b-logo {
    width: 55%;
    height: auto;
    position: absolute;
    left: calc(50vw - 35%);
    top: calc(50vh - 16vh);
}

.side_nav {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    transition: .3s;
    overflow: hidden;
}

.fa.fa-bars:hover {
    transition: .2s;
    color: #f34a28;
}

.closebtn {
    font-size: 24pt;
    margin-top: 3rem;
    margin-right: 3rem;
    color: black;
}

.closebtn:hover {
    transition: .2s;
    color: #f34a28;
}

.nav-index {
    margin-top: 15vh;
    margin-left: 2.5em;
}

.nav-index>.navbar-item>a {
    font-family: GLACIALINDIFFERENCE-BOLD;
    color: #f34a28;
    font-size: 18pt;
    margin-bottom: 3em;
    letter-spacing: 0.1em;
}

.nav-index>.navbar-item>a:hover {
    letter-spacing: 0.5em;
    color: black;
    transition: all .4s;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tile {
    width: 45vw;
    height: 3vh;
    background: #f34a28;
    position: fixed;
    right: 0;
    bottom: 10%;
    padding-left: 20em;
    color: white;
    font-size: 10pt;
    padding-top: calc(1.5vh - 0.8em);
    font-family: GLACIALINDIFFERENCE-REG;
    font-weight: bold;
}

@media screen and (max-width: 1366px) and (min-width: 1281px) {
    .tile {
        padding-left: 15em;
    }
    .nav-index>.navbar-item>a {
        margin-bottom: 2em;
    }
}

@media screen and (max-width: 1280px) and (min-width: 1081px) {
    .tile {
        padding-left: 10em;
    }
    .nav-index>.navbar-item>a {
        margin-bottom: 1.7em;
    }
    .nav-index {
        margin-top: 15vh;
        margin-left: 2em;
    }
}

@media screen and (max-width: 1080px) and (min-width: 769px) {
    .tile {
        padding-left: 4rem;
        font-size: 8pt;
        height: 2.5vh;
        padding-top: calc(1.25vh - 6pt);
    }
    .nav-index>.navbar-item>a {
        font-size: 14pt;
        margin-bottom: 1.5em;
    }
    .more_menu {
        padding: 2rem;
    }
    .closebtn {
        margin-top: 2rem;
        margin-right: 2rem;
    }
    .nav-index {
        margin-top: 15vh;
        margin-left: 2em;
    }
    /* .navbar-item,
    .navbar-link {
        color: #4a4a4a;
        display: block;
        line-height: 1.5;
        padding: 0.5rem 0rem;
        position: relative;
    } */
}

@media (max-width: 768px) and (min-width: 426px) {
    .tile {
        padding-left: 2rem;
        font-size: 7pt;
        height: 2vh;
        width: 70vw;
        padding-top: calc(1vh - 5.5pt);
    }
    .nav-index>.navbar-item>a {
        font-size: 12pt;
    }
    .nav-index>.navbar-item {
        padding-bottom: 2rem;
    }
    .nav-index {
        margin-top: 15vh;
        margin-left: 1.5em;
    }
}

@media (max-width: 425px) {
    .tile {
        padding-left: 4em;
        font-size: 5pt;
        width: 70vw;
        height: 2vh;
        padding-top: calc(1vh - 2.5pt);
    }
    .nav-index>.navbar-item>a {
        font-size: 12pt;
    }
    .nav-index>.navbar-item {
        padding-bottom: 2rem;
    }
    .nav-index {
        margin-top: 15vh;
        margin-left: 1.5em;
    }
    .b-logo {
        width: 70%;
    }
}