body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

div.column.is-12 {
    height: 100vh;
    background: url("../assets/img/h_bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.b-logo {
    width: 55%;
    height: 55%;
    position: absolute;
    left: calc(50vw - 35%);
    top: calc(50vh - 27.5%);
}

.side_nav {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    transition: .3s;
    overflow: hidden;
}

.fa.fa-bars:hover {
    transition: .2s;
    color: #f34a28;
}

.closebtn {
    font-size: 2rem;
    margin-top: 3rem;
    margin-right: 3rem;
    color: black;
}

.closebtn:hover {
    transition: .2s;
    color: #f34a28;
}

.nav-index {
    margin-top: 15vh;
    margin-left: 2em;
}

.nav-index>.navbar-item>a {
    font-family: GLACIALINDIFFERENCE-BOLD;
    color: #f34a28;
    font-size: 1.5rem;
    margin-bottom: 3em;
}

.nav-index>.navbar-item>a:hover {
    color: black;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tile {
    width: 45vw;
    height: 3vh;
    background: #f34a28;
    position: fixed;
    right: 0;
    bottom: 10%;
    padding-left: 30em;
    color: white;
    font-size: 0.8em;
    padding-top: calc(1.5vh - 0.8em);
    font-family: GLACIALINDIFFERENCE-REG;
    font-weight: bold;
}