body {
    background-color: whitesmoke !important;
}

.navbar-item img {
    max-height: 5rem;
}

.nav_logo {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: #4a4a4a;
    display: block;
    line-height: 1.5;
    padding: 0.5rem 2rem;
    position: relative;
    pointer-events: none !important;
}

.img_logo {
    height: 6.5vh;
}

.nav_logo:hover {
    background-color: none !important;
}

.navbar-item:hover {
    background-color: #f34a28 !important;
    /*letter-spacing: 0.1em !important;*/
}

.now_page {
    background-color: #222222;
    border-bottom: 0.3em solid #f34a28;
    padding-bottom: 0;
}

.black_navbar {
    background-color: #222222;
    height: 4vh;
    width: 55vw;
    margin-top: 2.5vh;
}

.box_nav_item {
    font-family: GLACIALINDIFFERENCE-REG;
    color: #fff !important;
}

.box_nav_item_last {
    font-family: GLACIALINDIFFERENCE-REG;
    color: #fff !important;
    margin-right: 36%;
}

.main-color {
    color: #f34a28 !important;
}

.headbar {
    height: 7vh;
    position: absolute;
    width: 50%;
    background: white;
    z-index: 0;
    text-align: center;
    margin-top: 4vh;
}

.title {
    font-size: 1.5em !important;
    margin-bottom: 0 !important;
    opacity: 1 !important;
    font-weight: bold;
    margin-right: 20pt;
}

.text-bar {
    padding-left: 1em;
    font-size: 1.2em;
    padding-top: calc(3.5vh - 1.5em);
    float: left;
    margin-left: 10em;
}

.case {
    background-color: #000;
    height: 65vh;
    display: inline-block;
}

[class *="b"] {
    background-size: cover;
    background-position: center;
}

.b1 {
    background-image: url("../assets/img/preproduction.png");
}

.b2 {
    background-image: url("../assets/img/photography.png");
}

.b3 {
    background-image: url("../assets/img/retouch.png");
}

.b4 {
    background-image: url("../assets/img/printabdfinish.png");
    height: 30vh;
}

[class *="b"]:hover .innertext {
    display: block;
}

.innertext {
    background-color: rgba(54, 54, 54, .7);
    color: #fff;
    padding: 1rem;
    margin: 0.5rem;
    height: 95%;
    display: none;
}

.headertext {
    text-decoration: underline;
    font-family: LAOSANGAMMN;
    font-size: 1.5rem;
    font-weight: bold;
}

.subtext {
    font-family: JS-THANAPORN;
    font-weight: normal;
    font-size: 1.25rem;
}

.last {
    height: 88%;
}